/* roboto-100normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url(7370c3679472e9560965ff48a4399d0b.woff2) format('woff2'), 
    url(5cb7edfceb233100075dc9a1e12e8da3.woff) format('woff'); /* Modern Browsers */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url(f8b1df51ba843179fa1cc9b53d58127a.woff2) format('woff2'), 
    url(f9e8e590b4e0f1ff83469bb2a55b8488.woff) format('woff'); /* Modern Browsers */
}
/* roboto-300normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url(ef7c6637c68f269a882e73bcb57a7f6a.woff2) format('woff2'), 
    url(b00849e00f4c2331cddd8ffb44a6720b.woff) format('woff'); /* Modern Browsers */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url(14286f3ba79c6627433572dfa925202e.woff2) format('woff2'), 
    url(4df32891a5f2f98a363314f595482e08.woff) format('woff'); /* Modern Browsers */
}
/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url(479970ffb74f2117317f9d24d9e317fe.woff2) format('woff2'), 
    url(60fa3c0614b8fb2f394fa29944c21540.woff) format('woff'); /* Modern Browsers */
}
/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url(51521a2a8da71e50d871ac6fd2187e87.woff2) format('woff2'), 
    url(fe65b8335ee19dd944289f9ed3178c78.woff) format('woff'); /* Modern Browsers */
}
/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url(020c97dc8e0463259c2f9df929bb0c69.woff2) format('woff2'), 
    url(87284894879f5b1c229cb49c8ff6decc.woff) format('woff'); /* Modern Browsers */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url(db4a2a231f52e497c0191e8966b0ee58.woff2) format('woff2'), 
    url(288ad9c6e8b43cf02443a1f499bdf67e.woff) format('woff'); /* Modern Browsers */
}
/* roboto-700normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url(2735a3a69b509faf3577afd25bdf552e.woff2) format('woff2'), 
    url(adcde98f1d584de52060ad7b16373da3.woff) format('woff'); /* Modern Browsers */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url(da0e717829e033a69dec97f1e155ae42.woff2) format('woff2'), 
    url(81f57861ed4ac74741f5671e1dff2fd9.woff) format('woff'); /* Modern Browsers */
}
/* roboto-900normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url(9b3766ef4a402ad3fdeef7501a456512.woff2) format('woff2'), 
    url(bb1e4dc6333675d11ada2e857e7f95d7.woff) format('woff'); /* Modern Browsers */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url(ebf6d1640ccddb99fb49f73c052c55a8.woff2) format('woff2'), 
    url(28f9151055c950874d2c6803a39b425b.woff) format('woff'); /* Modern Browsers */
}


